@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');



body{
background: black;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-family: 'Montserrat', sans-serif;
}
.central-container{
  height: 50%;
  width: 50%;
  border: black solid 1px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  align-items: center;
  
  flex-direction: column;
}
.app-div{
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  
}
p {
  font-size: 22px;
  
}


input{
  width: 20%;
  height: 100%;
  align-self: center;
  margin-top: 3%;
  background: none;
  border: solid black 1px;
  font-size: 22px;
  border-radius: 8px;
}

label{
  font-size: 22px;
}

h3{
  color: rgb(209, 0, 0);
  margin-top: 5%
}
.submit-btn{
  cursor: pointer;
}